/* universal styles */

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* common styles */

.btn-primary {
    border-radius: 8px;
    border-style: none;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin-top: 32px;
}

section {
    margin-top: 128px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    padding-top: 24px;
}

/* header/banner styles */

header {
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    max-width: 634px;
    margin-top: 32px;
}

.banner-img {
    width: 635px;
    height: 800px;
}

/* our featured flowers styles */

.flowers {
    display: flex;
    gap: 24px;
    margin: 0 240px;
    padding-top: 48px;
}

.pink-flower-shape {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flower-img {
    padding: 110px 78px 0 76px;
}

.blue-flower-shape {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.blue-flower-img {
    padding: 117px 47px 51px;
}

.yellow-flower-shape {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.yellow-flower-img {
    padding: 67px 75px 0;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 32px;
}

/* service section styles */

.service-content {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
}

.each-service {
    text-align: center;
}

.service-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
}

/* hot deal styles */

.hot-deal-content {
    display: flex;
    gap: 186px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
}

.off-text-color {
    color: #E55473;
}

/* happy customers styles */

.all-customer{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 48px;
}

.customer{
    box-shadow: 3px 4px 10px #adabab;
    width: 450px;
    height: 380px;
}

.customer-photo{
    padding: 50px 0 0 50px;
}

.customer-feedback{
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    line-height: 26px;
    width: 350px;
    padding-top: 24px;
    padding-left: 50px;
}

.customer-name{
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    padding-top: 32px;
    padding-left: 50px;
}

.customer-designation{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 5px;
    padding-left: 50px;
}

/* instagram styles */

.images {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

/* get the latest deals styles */

.latest-deal-section {
    padding: 0 240px;
}

.latest-deal-content {
    width: 1440px;
    height: 449px;
    background-image: url(../Flower-Asset/banner.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 122px;
}

input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border-style: none;
    background: white;
}

input::placeholder {
    padding-left: 22px;
}

.subscribe-button {
    border-radius: 8px;
    border-style: none;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.subscribe-content {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-top: 48px;
}

/* footer styles */

footer {
    background: #111010;
}

.footer-title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 128px;
}

.flower-text-color{
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    width: 625px;
    margin: 0 auto;
    padding: 24px 0 32px 0;
}

.copyright-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-weight: 300;
    padding-bottom: 128px;
}

